### Go template
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env


!/.env.mykbeautyshop

!/.env.wearekbeauty
!/path/


!/path/AmountExtractionHeuristicRegexes/

!/path/AutofillStates/

!/path/BrowserMetrics/

!/path/CertificateRevocation/

!/path/CommerceHeuristics/

!/path/component_crx_cache/

!/path/CookieReadinessList/

!/path/Crowd Deny/

!/path/Default/

!/path/extensions_crx_cache/

!/path/FileTypePolicies/

!/path/FirstPartySetsPreloaded/

!/path/GraphiteDawnCache/

!/path/GrShaderCache/

!/path/HistorySearch/

!/path/MEIPreload/

!/path/NativeMessagingHosts/

!/path/OnDeviceHeadSuggestModel/

!/path/OpenCookieDatabase/

!/path/optimization_guide_model_store/

!/path/OptimizationHints/

!/path/OriginTrials/

!/path/PKIMetadata/

!/path/PrivacySandboxAttestationsPreloaded/

!/path/ProbabilisticRevealTokenRegistry/

!/path/RecoveryImproved/

!/path/Safe Browsing/

!/path/SafetyTips/

!/path/segmentation_platform/

!/path/ShaderCache/

!/path/SSLErrorAssistant/

!/path/Subresource Filter/

!/path/System Profile/

!/path/TpcdMetadata/

!/path/TrustTokenKeyCommitments/

!/path/WidevineCdm/

!/path/ZxcvbnData/
