swagger: "2.0"
info:
  description: "A Microsoft WebApi2 application. For use by Jeunesse and its Partners, this api has a focus on product and order creation"
  version: v1
  title: Cart-Api v1
host: cart-api.riman.co
schemes:
- https
paths:
  /api/v1/bags/{bagId}:
    get:
      tags:
      - Bag
      summary: Get a bag by its id
      operationId: Bag_GetById
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: bagId
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
    delete:
      tags:
      - Bag
      summary: Delete a bag by its id
      operationId: Bag_Delete
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: bagId
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/bags:
    get:
      tags:
      - Bag
      summary: Get all bags based on the query model
      operationId: Bag_GetAll
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: bagQueryModel.bagPK
        in: query
        required: false
        type: integer
        format: int32
      - name: bagQueryModel.customerPK
        in: query
        required: false
        type: integer
        format: int32
      - name: bagQueryModel.cartType
        in: query
        required: false
        type: string
      - name: bagQueryModel.countryCode
        in: query
        required: false
        type: string
      - name: bagQueryModel.culture
        in: query
        required: false
        type: string
      - name: bagQueryModel.siteUrl
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
    post:
      tags:
      - Bag
      summary: Create a new bag
      operationId: Bag_Create
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: bagFormModel
        description: ""
        required: true
        schema:
          $ref: "#/definitions/BagFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/loyalty-points/ranks:
    get:
      tags:
      - LoyaltyPoints
      summary: Gets the list of ranks for the loyalty points preferred customers.
      operationId: LoyaltyPoints_GetRanks
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/RewardPointsCustomerRankViewModel"
  /api/v1/loyalty-points/{mainPk}:
    get:
      tags:
      - LoyaltyPoints
      summary: Gets the status of Loyalty Points for a preferred customer.
      operationId: LoyaltyPoints_GetStatus
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainPk
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RewardPointsCustomerStatusViewModel"
  /api/v1/loyalty-points/{mainPk}/transactions:
    get:
      tags:
      - LoyaltyPoints
      summary: Gets the transactions of Loyalty Points for a preferred customer ordered by effective date.
      operationId: LoyaltyPoints_GetTransactions
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainPk
        in: path
        required: true
        type: integer
        format: int32
      - name: pageNumber
        in: query
        required: false
        type: integer
        format: int32
      - name: pageSize
        in: query
        required: false
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RewardPointsCustomerTransactionsViewModel"
  /api/v1/RMA/status:
    get:
      tags:
      - Order
      summary: Get RMAs_Status
      operationId: Order_GetRMAsStatus
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/RMA/reasons:
    get:
      tags:
      - Order
      summary: Get GetRMA_Reasons
      operationId: Order_GetRMAReasons
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/orders/types:
    get:
      tags:
      - Order
      summary: To get order types
      operationId: Order_GetOrderTypes
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MainOrderTypeModel"
  /api/v1/order/{orderId}/paid:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_CheckOrderPaidStatus
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: orderId
        in: path
        description: ""
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/get-sift-config:
    get:
      tags:
      - Order
      summary: Used to get Sift configuration.
      operationId: Order_GetSiftConfig
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SiftConfigModel"
  /api/v1/orders/{mainOrdersPK}:
    get:
      tags:
      - Order
      summary: To get single order
      operationId: Order_GetOrderId
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MainOrderModel"
  /api/v1/order/delete/{orderId}:
    get:
      tags:
      - Order
      summary: This method is no longer allowed please do not use
      operationId: Order_DeleteOrder
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: orderId
        in: path
        description: Unique identifier of the order
        required: true
        type: integer
        format: int32
      deprecated: true
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/process-response:
    get:
      tags:
      - Order
      summary: Used to process response from 3rd party redirects
      operationId: Order_ProcessOrderResponse
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
    post:
      tags:
      - Order
      operationId: Order_ProcessOrderResponsePost
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/orders/payments/manual:
    get:
      tags:
      - Order
      summary: Retrieves available manual paytypes
      operationId: Order_getManualPayTypes
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/ManualPaymentTypeModel"
  /api/v1/order/get-inauth-config:
    get:
      tags:
      - Order
      summary: Used to get InAuth configuration.
      operationId: Order_GetInAuthConfig
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/InAuthConfigModel"
  /api/v1/order/get-TapPay-config:
    get:
      tags:
      - Order
      summary: Used to get InAuth configuration.
      operationId: Order_GetTapPayConfig
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/InAuthConfigModel"
  /api/v1/order/payment/{orderId}:
    get:
      tags:
      - Order
      summary: Returns a list of payment methods for an order.
      operationId: Order_GetPaymentMethods
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: orderId
        in: path
        description: Order Number
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PaymentMethodsViewModel"
  /api/v1/RMA/{RMANumber}/products:
    get:
      tags:
      - Order
      summary: Get RMA Detail
      operationId: Order_GetRMADetail
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: RMANumber
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/disclosure/{orderId}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetOrderDisclosure
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: orderId
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/taxes/{mainOrdersFK}:
    get:
      tags:
      - Order
      summary: Gets the tax information for an order.
      operationId: Order_GetOrderTaxAmount
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFK
        in: path
        description: OrderNumber
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
    put:
      tags:
      - Order
      summary: Gets and sets the tax information for an order.
      operationId: Order_SetOrderTax
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFK
        in: path
        description: OrderNumber
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/orders/{mainOrdersPK}/items:
    get:
      tags:
      - Order
      summary: To get main order items
      operationId: Order_GetOrderItems
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MainOrderItemModel"
  /api/v1/order/details/{mainOrdersFK}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetOrderInfo
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: true
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/{mainpk}/has-completed:
    get:
      tags:
      - Order
      operationId: Order_VerifyUserOrders
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainpk
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/{orderIdStr}/has-package:
    get:
      tags:
      - Order
      summary: Checks to see if an order contains a package product
      operationId: Order_OrderHasPackage
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: orderIdStr
        in: path
        description: Order Number
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: boolean
  /api/v1/orders/{mainOrdersPK}/payments:
    get:
      tags:
      - Order
      summary: Get payments on order
      operationId: Order_GetPayments
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/OrderPayments"
    post:
      tags:
      - Order
      summary: Adds and processes payments to order
      operationId: Order_NewPayment
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        required: true
        type: integer
        format: int32
      - in: body
        name: payment
        required: true
        schema:
          $ref: "#/definitions/PaymentFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PaymentProcessingResponse"
  /api/v1/orders/{mainOrdersPK}/products:
    get:
      tags:
      - Order
      summary: To get all subitems from main order by id for RMA
      operationId: Order_GetOrderProducts
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/orders/{mainOrdersPK}/tracking:
    get:
      tags:
      - Order
      summary: To get shipping Tracking information of an order
      operationId: Order_GetOrderShippingDetails
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MainOrderTrackingModel"
  /api/v1/order/{orderId}/payment-started:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_CheckOrderPaymentStarted
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: orderId
        in: path
        description: ""
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/campaigns/info/{campaignCode}:
    get:
      tags:
      - Order
      summary: Gets the sales campaign information for a particular campaign.
      operationId: Order_GetSalesCampaignByCampaignCode
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: campaignCode
        in: path
        description: Campaign Code to Lookup
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SalesCampaignModel"
  /api/v1/order/payment/get-card/{sequencePK}:
    get:
      tags:
      - Order
      summary: Gets MainCreditCard record based on MainCreditCardsFK
      operationId: Order_GetSavedCreditCard
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: sequencePK
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/orders/{mainOrdersPK}/payments/info:
    get:
      tags:
      - Order
      summary: Get payment info messages for UI
      operationId: Order_GetPaymentInfo
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/PaymentInfoResponseModel"
  /api/v1/RMA/RMAs/Products:
    get:
      tags:
      - Order
      summary: Get All RMAs and RMAproducts For Order by OrderFK
      operationId: Order_GetRMAsProducts
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: orderFK
        in: query
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RMAView"
  /api/v1/order/donationOrders:
    get:
      tags:
      - Order
      summary: To get information about Donations
      operationId: Order_GetDonationOrders
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainFk
        in: query
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FullDonationReport"
  /api/v1/orders/{mainOrdersPK}/shipments-total:
    get:
      tags:
      - Order
      summary: To get shipments total cost
      operationId: Order_GetOrderShipmentsTotal
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/OrderShipmentsTotalModel"
  /api/v1/order/get-ixo-pay-config/{fromProfile}:
    get:
      tags:
      - Order
      summary: Returns config for IxoPay tokenEx iframe
      operationId: Order_GetTokenExConfig
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: fromProfile
        in: path
        required: true
        type: boolean
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/getPayUReceiptLink/{mainOrdersPK}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetPayUReceiptLink
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: string
  /api/v1/orders/{mainOrdersPK}/shipment-products:
    get:
      tags:
      - Order
      summary: To get shipment data of orders products
      operationId: Order_GetOrderShipmentProducts
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/getWalletOrderLimit/{mainOrdersPK}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetWalletLimit
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WalletOrderLimit"
  /api/v1/order/isNiceGtwEnabled/{mainOrderTypeFk}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_IsNiceGtwEnabled
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrderTypeFk
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: boolean
  /api/v1/order/{orderString}/confirmation-details:
    get:
      tags:
      - Order
      summary: Get Order Details for confirmation Page.
      operationId: Order_GetOrderDetailsForConfirmation
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: orderString
        in: path
        description: Order Id string
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OrderConfirmationDetailViewModel"
  /api/v1/order:
    get:
      tags:
      - Order
      summary: Gets order history.
      operationId: Order_GetOrders
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: EntityFk
        in: query
        required: true
        type: integer
        format: int32
      - name: IsMain
        in: query
        required: true
        type: boolean
      deprecated: true
      responses:
        "200":
          description: OK
          schema:
            type: object
    post:
      tags:
      - Order
      summary: Create a new order with basic information
      operationId: Order_CreateOrder
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/NewOrderFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/getOpenPayReceiptLink/{mainOrdersPK}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetOpenPayReceiptLink
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: string
  /api/v1/order/{orderId}/clearMerchantPendingStatus:
    get:
      tags:
      - Order
      operationId: Order_ClearMerchantPendingStatus
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: orderId
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/getBonusTokenOrderLimit/{mainOrdersPK}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetBonusCreditLimit
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SignupTokenOrderLimit"
  /api/v1/order/getMinimumAllowedPayment/{mainOrdersPK}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetMinimumAllowedPayment
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: number
            format: double
  /api/v1/order/get-braspagantifraud-scripts/{identifier}:
    get:
      tags:
      - Order
      summary: Used to get InAuth configuration.
      operationId: Order_GetBraspagAntifraudScirpts
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: identifier
        in: path
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BraspagAntifraudScirptModel"
  /api/v1/order/getPayUBankTransferDetails/{mainOrdersPK}:
    get:
      tags:
      - Order
      operationId: Order_GetPayUBankTransferDetails
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/PayUBankTransferDetails"
  /api/v1/order/useCrossBorderCharges/{shipTo}/{shipFrom}:
    get:
      tags:
      - Order
      operationId: Order_UseCrossBorderCharges
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: shipTo
        in: path
        required: true
        type: string
      - name: shipFrom
        in: path
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/isCreditCardRedirectCheckout/{mainOrderPk}:
    get:
      tags:
      - Order
      summary: Check if CC payment is redirect checkout payment
      operationId: Order_IsCreditCardRedirectCheckout
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrderPk
        in: path
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/IsCreditCardRedirectCheckoutModel"
  /api/v1/order/get-available-coupons/{mainPk}/{mainOrdersPK}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetAvailableCoupons
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainPk
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      - name: mainOrdersPK
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/AvailableCouponModel"
  /api/v1/order/shipping/{mainOrdersFK}/{shippingChartTypeFK}:
    get:
      tags:
      - Order
      summary: Gets the shipping information for an order.
      operationId: Order_GetOrderShipping
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFK
        in: path
        description: OrderNumber
        required: true
        type: integer
        format: int32
      - name: shippingChartTypeFK
        in: path
        description: Shipping Key
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
    put:
      tags:
      - Order
      summary: Sets the shipping information for an order.
      operationId: Order_SetOrderShipping
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFK
        in: path
        description: OrderNumber
        required: true
        type: integer
        format: int32
      - name: shippingChartTypeFK
        in: path
        description: Shipping Key
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/getRimanDollarsBalance/{mainPk}/{mainOrdersFk}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetRimanDollarsBalance
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainPk
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      - name: mainOrdersFk
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: number
            format: double
  /api/v1/order/isRoutedToZiraat/{mainOrderTypeFk}/{countryCode}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_IsRoutedToZiraat
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrderTypeFk
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      - name: countryCode
        in: path
        description: ""
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: boolean
  /api/v1/order/convert-to-local-currency/{mainOrdersFK}/{amount}:
    get:
      tags:
      - Order
      summary: Returns converted amount to local currency
      operationId: Order_ConvertToLocalCurrency
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFK
        in: path
        required: true
        type: integer
        format: int32
      - name: amount
        in: path
        required: true
        type: number
        format: double
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/isMercadoPagoOrder/{mainOrderTypeFk}/{countryCode}:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_IsMercadoPagoOrder
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrderTypeFk
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      - name: countryCode
        in: path
        description: ""
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: boolean
  /api/v1/order/personal-use:
    get:
      tags:
      - Order
      summary: To get information about Personal Use status
      operationId: Order_IsAllowPersonalUseFun
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: query
        required: false
        type: integer
        format: int32
      - name: cartKey
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PersonalUseModel"
  /api/v1/order/processingFees:
    get:
      tags:
      - Order
      summary: Returns order processing fees by country code
      operationId: Order_GetPaymentOrderProcessingFees
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: countryCode
        in: query
        required: false
        type: string
      - name: culture
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PaymentOrderProcessingFeesModel"
  /api/v1/payment/customs-warning:
    get:
      tags:
      - Order
      summary: Returns messages related to customs payment warning for the warehouse country
      operationId: Order_GetCustomsPaymentWarnings
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: countryCode
        in: query
        required: false
        type: string
      - name: culture
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/CustomsPaymentWarningModel"
  /api/v1/order/isLacoreFraudSettings/{mainOrderTypeFk}/{countryCode}/{currencyCode}:
    get:
      tags:
      - Order
      summary: To get Lacore routing and AntiFraud settings
      operationId: Order_IsLacoreFraudSettings
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrderTypeFk
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      - name: countryCode
        in: path
        description: ""
        required: true
        type: string
      - name: currencyCode
        in: path
        description: ""
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: string
  /api/v1/order/wallet/discount:
    get:
      tags:
      - Order
      summary: Check if Wallet discount available
      operationId: Order_GetWalletDiscount
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFK
        in: query
        required: false
        type: integer
        format: int32
      - name: countryCode
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WalletDiscountModel"
  /api/v1/order/IsIxoPayActiveForGateway/{mainOrderTypeFk}/{countryCode}/{currencyCode}:
    get:
      tags:
      - Order
      summary: Returns config for IxoPay tokenEx iframe
      operationId: Order_IsIxoPayActiveForGateway
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrderTypeFk
        in: path
        required: true
        type: integer
        format: int32
      - name: countryCode
        in: path
        required: true
        type: string
      - name: currencyCode
        in: path
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/campaigns/info/{productBrandFK}/{countryCode}:
    get:
      tags:
      - Order
      summary: Returns sales campaign info based on the campaign code.
      operationId: Order_GetSalesCampaignByCampaignCode
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: productBrandFK
        in: path
        description: Product Brand PK
        required: true
        type: integer
        format: int32
      - name: countryCode
        in: path
        description: Country Code
        required: true
        type: string
      - name: cartType
        in: query
        required: false
        type: string
      - name: culture
        in: query
        required: false
        type: string
      - name: siteUrl
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SalesCampaignModel"
  /api/v1/orders/verify-discount-code:
    get:
      tags:
      - Order
      summary: Used to verify a discount code for a logged in distributor.
      operationId: Order_VerifyDiscountCode
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: discountCode
        in: query
        required: false
        type: string
      - name: mainOrderTypeFk
        in: query
        required: false
        type: integer
        format: int32
      - name: mainOrderPk
        in: query
        required: false
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VerifyDiscountCodeReturnModel"
  /api/v1/order/payment/creditcard/types/{countryCode}/{currencyCode}:
    get:
      tags:
      - Order
      summary: Returns a list of accepted credit card types for the specified country code and currency code.
      operationId: Order_GetAcceptedCreditCardTypes
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: countryCode
        in: path
        description: "Example: US"
        required: true
        type: string
      - name: currencyCode
        in: path
        description: "Example: USD"
        required: true
        type: string
      - name: mainOrderTypeFK
        in: query
        description: Main Order Type PK for the request
        required: false
        type: integer
        format: int32
      - name: mainOrderPk
        in: query
        description: Main Order PK for the request
        required: false
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/campaigns/info/{productBrandFK}/{countryCode}/{campaignCode}:
    get:
      tags:
      - Order
      summary: Returns sales campaign info based on the campaign code.
      operationId: Order_GetSalesCampaignByCampaignCode
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: productBrandFK
        in: path
        description: Product Brand PK
        required: true
        type: integer
        format: int32
      - name: countryCode
        in: path
        description: Country Code
        required: true
        type: string
      - name: campaignCode
        in: path
        description: Campaign Code
        required: true
        type: string
      - name: cartType
        in: query
        required: false
        type: string
      - name: culture
        in: query
        required: false
        type: string
      - name: siteUrl
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SalesCampaignModel"
  /api/v1/order/isQRCodeOrderStatusUpdated:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_IsQRCodeOrderStatusUpdated
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFK
        in: query
        required: false
        type: integer
        format: int32
      - name: paymentMethodCode
        in: query
        required: false
        type: string
      - name: paymentReference
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: boolean
  /api/v1/payments:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetPayments
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: paidStatusFK
        in: query
        required: false
        type: integer
        format: int32
      - name: paymentStartDate
        in: query
        required: false
        type: string
        format: date-time
      - name: paymentEndDate
        in: query
        required: false
        type: string
        format: date-time
      - name: orderStartDate
        in: query
        required: false
        type: string
        format: date-time
      - name: orderEndDate
        in: query
        required: false
        type: string
        format: date-time
      - name: paymentMethodCode
        in: query
        required: false
        type: string
      - name: pageSize
        in: query
        required: false
        type: integer
        format: int32
      - name: page
        in: query
        required: false
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PaymentSimpleViewModel"
  /api/v1/RMA:
    get:
      tags:
      - Order
      summary: To get items from RMA table order OrderByDescending Issue_Date
      operationId: Order_GetOrSearchRMAs
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: query.rmaNumber
        in: query
        required: false
        type: integer
        format: int32
      - name: query.orderNumber
        in: query
        required: false
        type: integer
        format: int32
      - name: query.customerSiteurl
        in: query
        required: false
        type: string
      - name: query.customerName
        in: query
        required: false
        type: string
      - name: query.issuedBy
        in: query
        required: false
        type: string
      - name: query.issuedDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.jnsDepartment
        in: query
        required: false
        type: string
      - name: query.statusId
        in: query
        required: false
        type: string
      - name: query.recivedDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.refundDate
        in: query
        required: false
        type: string
        format: date-time
      - name: query.offset
        in: query
        required: false
        type: integer
        format: int32
      - name: query.limit
        in: query
        required: false
        type: integer
        format: int32
      - name: query.orderBy
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RMAView"
    post:
      tags:
      - Order
      summary: Create RMA
      operationId: Order_CreateRMA
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: newRMA
        required: true
        schema:
          $ref: "#/definitions/RMAFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
    put:
      tags:
      - Order
      summary: Update RMA
      operationId: Order_UpdateRMA
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: rmaUpdateQueryModel
        required: true
        schema:
          $ref: "#/definitions/RMAUpdateQueryModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/orders:
    get:
      tags:
      - Order
      summary: ""
      operationId: Order_GetMainOrders
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainId
        in: query
        required: false
        type: string
      - name: mainSiteUrl
        in: query
        required: false
        type: string
      - name: orderNumber
        in: query
        required: false
        type: string
      - name: shipmentNumber
        in: query
        required: false
        type: string
      - name: trackingNumber
        in: query
        required: false
        type: string
      - name: getCustomerOrders
        in: query
        required: false
        type: boolean
      - name: getAbandonedOrders
        in: query
        required: false
        type: boolean
      - name: getEnrollerOrders
        in: query
        required: false
        type: boolean
      - name: getDownlineOrders
        in: query
        required: false
        type: boolean
      - name: paidStatus
        in: query
        required: false
        type: boolean
      - name: startDate
        in: query
        required: false
        type: string
        format: date-time
      - name: endDate
        in: query
        required: false
        type: string
        format: date-time
      - name: orderType
        in: query
        required: false
        type: string
      - name: offset
        in: query
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
      - name: orderBy
        in: query
        required: false
        type: string
      - name: productPKs
        in: query
        required: false
        type: string
      - name: isRefunded
        in: query
        required: false
        type: boolean
      - name: countryCode
        in: query
        required: false
        type: string
      - name: salesCampaignPK
        in: query
        required: false
        type: integer
        format: int32
      - name: shippingStatus
        in: query
        required: false
        type: string
      - name: shouldIncludeShippingDetail
        in: query
        required: false
        type: boolean
      - name: shouldIncludeOrderItems
        in: query
        required: false
        type: boolean
      - name: shouldIncludePayments
        in: query
        required: false
        type: boolean
      - name: shouldCheckIfPrepaid
        in: query
        required: false
        type: boolean
      - name: orderLevel
        in: query
        required: false
        type: string
      - name: getDataToExport
        in: query
        required: false
        type: boolean
      - name: customerOrdersMainId
        in: query
        required: false
        type: integer
        format: int32
      - name: weChatOrderNumber
        in: query
        required: false
        type: string
      - name: memberID
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MainOrderSimpleViewModel"
  /api/v1/order/main-type:
    put:
      tags:
      - Order
      operationId: Order_UpdateOrderMainType
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/OrderMainTypeFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/set-shipping:
    put:
      tags:
      - Order
      operationId: Order_SetShippingOnOrder
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/SetShippingFormModel"
      deprecated: true
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/shipping/address/{mainOrdersFK}:
    put:
      tags:
      - Order
      summary: Updates the shipping address informaiton for an order.
      description: "Required Fields: FirstName, LastName, Address1, City, State, PostalCode, Country <param name=\"mainOrdersFK\">OrderNumber</param><param name=\"model\">Address Information</param>"
      operationId: Order_UpdateOrderShippingAddress
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFK
        in: path
        required: true
        type: integer
        format: int32
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/UpdateOrderShipAddressFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/save-ixo-pay-token/{mainOrdersFK}:
    put:
      tags:
      - Order
      summary: Returns config for IxoPay tokenEx iframe
      operationId: Order_SaveTokenExConfig
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/IxoPayTokenModel"
      - name: mainOrdersFK
        in: path
        description: ""
        required: true
        type: integer
        default: 0
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/import-order/{mainOrderPk}/{importOrder}:
    put:
      tags:
      - Order
      summary: Updates ImportOrder of the specific order by unique identifier
      operationId: Order_UpdateImportOrderType
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrderPk
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      - name: importOrder
        in: path
        description: ""
        required: true
        type: boolean
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/orders/{mainOrdersPK}/payments/{paymentMethodPK}:
    put:
      tags:
      - Order
      summary: Updates payments on order
      operationId: Order_UpdatePayment
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        required: true
        type: integer
        format: int32
      - name: paymentMethodPK
        in: path
        required: true
        type: integer
        format: int32
      - in: body
        name: payment
        required: true
        schema:
          $ref: "#/definitions/PaymentUpdateFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PaymentProcessingResponse"
  /api/v1/order/log:
    post:
      tags:
      - Order
      summary: Used to add a status update log to an order.
      operationId: Order_AddLogOrderStatus
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/AddLogOrderStatusFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/3ds2:
    post:
      tags:
      - Order
      summary: Get redirect Url for 3D 2 Secure payment
      operationId: Order_Get3Ds2
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/OrderComplete3DS2Model"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/3dsurl:
    post:
      tags:
      - Order
      summary: Get redirect Url for 3D Secure payment
      operationId: Order_Get3DsUrl
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/OrderCompleteModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/product:
    post:
      tags:
      - Order
      summary: "Remove items from an existing, in process order. It will remove all existing items, if any, and add the items provided to the order"
      operationId: Order_AddProduct
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/AddProductFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/complete:
    post:
      tags:
      - Order
      summary: Finalize an order in process
      operationId: Order_SubmitOrder
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/OrderCompleteModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/RMA/send-summary:
    post:
      tags:
      - Order
      summary: Send summary to the distributor
      operationId: Order_SendSummury
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: rmaInfo
        required: true
        schema:
          $ref: "#/definitions/RMASendSummaryInfoModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/3dstokenurl:
    post:
      tags:
      - Order
      summary: Get token url/model for token processing
      operationId: Order_Get3DsTokenUrl
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/OrderCompleteTokenModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/retail/info:
    post:
      tags:
      - Order
      summary: Used to set retail tracking information for retails orders once they have been completed.
      operationId: Order_AddMainRetailInfo
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/AddMainRetailInfoFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/update-type:
    post:
      tags:
      - Order
      summary: Updates the order type based on cart information. Will not update paid orders.
      operationId: Order_SetOrderType
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: SetOrderTypeFormModel
        required: true
        schema:
          $ref: "#/definitions/UpdateOrderTypeFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UpdateOrderTypeViewModel"
  /api/v1/order/climbers-club:
    post:
      tags:
      - Order
      summary: Finalize climbers club sign up. Creates order and takes money from cliffs wallet. Returns success or failure
      operationId: Order_CreateOrderClimbersClub
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/getInstallments:
    post:
      tags:
      - Order
      summary: ""
      operationId: Order_GetInstallments
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantInstallmentsFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MerchantInstallmentsConfigModel"
  /api/v1/order/merchant/cancel:
    post:
      tags:
      - Order
      summary: Used to cancelation PayPal Order.
      operationId: Order_CancelMerchantOrder
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/OrderResponseModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/initInstallments:
    post:
      tags:
      - Order
      summary: ""
      operationId: Order_InitInstallments
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantInstallmentsFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MerchantInstallmentsConfigModel"
  /api/v1/order/payment/set-card:
    post:
      tags:
      - Order
      summary: Updates MainCreditCardsFK column in MainOrders Table
      operationId: Order_UseSavedCreditCard
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/SavedCCModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/saveInstallments:
    post:
      tags:
      - Order
      summary: ""
      operationId: Order_SaveInstallments
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantInstallmentsFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MerchantInstallmentsConfigModel"
  /api/v1/order/addProcessingFees:
    post:
      tags:
      - Order
      summary: Adds processing fees to an order
      operationId: Order_AddProcessingFees
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/AddProcessingFeesFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: number
            format: double
  /api/v1/order/payment/creditcard:
    post:
      tags:
      - Order
      summary: Adds the Credit Card payment information to an order in process
      operationId: Order_AddCCPaymentToOrder
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/AddCCPaymentFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/creditcard/validate:
    post:
      tags:
      - Order
      summary: Validate Credit Card Number
      operationId: Order_ValidateCreditCard
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/ValidateCreditCardModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ValidateCreditCardResponse"
  /api/v1/order/tracking/{TrackingId}:
    post:
      tags:
      - Order
      summary: Used to load the retail cart info based on the re-marketing tracking id.
      operationId: Order_GetRetailCartByRemarketingTrackingId
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: TrackingId
        in: path
        description: "GUID: Email Tracking Id"
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OrderInfoModel"
  /api/v1/orders/create-prepaid-order:
    post:
      tags:
      - Order
      summary: Runs the manual process to create an prepaid order for the currently logged in customer.
      operationId: Order_CreatePrepaidOrder
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: products
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/CartItemFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutoshipOrderInfoViewModel"
  /api/v1/order/paypal/get-process-url:
    post:
      tags:
      - Order
      summary: Used to get redirect url to PayPal.
      operationId: Order_ProcessPayPalOrder
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/OrderProcessModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/orders/create-autoship-order:
    post:
      tags:
      - Order
      summary: Runs the manual process to create an autoship order for the currently logged in customer.
      operationId: Order_CreateAutoshipOrder
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutoshipOrderInfoViewModel"
  /api/v1/orders/{mainOrdersPK}/validate:
    post:
      tags:
      - Order
      summary: Used to validate an order information before it is submitted.
      operationId: Order_ValidateDiscountCode
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: Main Orders PK
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ValidateOrderViewModel"
  /api/v1/order/merchant/getRedirectModel:
    post:
      tags:
      - Order
      summary: Return merchant redirect model with required parameters for UI
      operationId: Order_GetMerchantRedirectModel
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantRedirectFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MerchantRedirectViewModel"
  /api/v1/order/merchant/process-response:
    post:
      tags:
      - Order
      summary: Used to process response from PayPal.
      operationId: Order_ProcessPayPalOrderResponse
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/OrderResponseModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PaymentProcessingResponse"
  /api/v1/order/set-invoice-insurance-type:
    post:
      tags:
      - Order
      summary: Sets invoice insurance type
      operationId: Order_SetInvoiceInsuranceType
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/InvoiceInsuranceTypeModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/order/isInstallmentsExtensionValid:
    post:
      tags:
      - Order
      summary: ""
      operationId: Order_IsInstallmentsExtensionValid
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantInstallmentsFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: boolean
  /api/v1/order/merchant/getRedirectModelStep2:
    post:
      tags:
      - Order
      summary: Get script\iframe for redirect step 2
      operationId: Order_GetMerchantRedirectModelStep2
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantRedirectFormModelStep2"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MerchantRedirectModelStep2"
  /api/v1/order/{mainOrdersPK}/apply-riman-dollars:
    post:
      tags:
      - Order
      summary: Used to apply a Riman dollars to an order for a distributor.
      operationId: Order_ApplyRimanDollarsPayment
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        required: true
        type: integer
        format: int32
      - in: body
        name: payment
        required: true
        schema:
          $ref: "#/definitions/RimanDollarsPaymentModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PaymentProcessingResponse"
  /api/v1/orders/{mainOrdersPK}/apply-discount-code:
    post:
      tags:
      - Order
      summary: Used to apply a discount code to an order for a distributor.
      operationId: Order_ApplyDiscountCode
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: Main Orders PK
        required: true
        type: integer
        format: int32
      - in: body
        name: model
        description: Form Model
        required: true
        schema:
          $ref: "#/definitions/ApplyOrderDiscountFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/orders/{mainOrdersPK}/update-personal-use:
    post:
      tags:
      - Order
      summary: Used to update the personal use only flag on main orders.
      operationId: Order_UpdatePersonalUseFlag
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersPK
        in: path
        description: Main Orders PK
        required: true
        type: string
      - in: body
        name: model
        description: Form Model
        required: true
        schema:
          $ref: "#/definitions/UpdatePersonalUseFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/product/rafiki:
    get:
      tags:
      - Product
      summary: Get the details for the dontion product called Rafiki
      operationId: Product_GetRafikiProduct
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/product/samples/{siteUrl}:
    get:
      tags:
      - Product
      summary: ""
      operationId: Product_GetSamples
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: siteUrl
        in: path
        description: ""
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/product/regulatory-details:
    get:
      tags:
      - Product
      summary: Returns product details for Regulatory
      operationId: Product_GetProductRegulatoryDetails
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: sku
        in: query
        required: false
        type: string
      - name: culture
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProductRegulatoryDetailsViewModel"
  /api/v1/product/detail:
    post:
      tags:
      - Product
      summary: Get the detail information for products
      operationId: Product_GetProductDetail
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: Multiple arrays that are used to look up products
        required: true
        schema:
          $ref: "#/definitions/ProductDetailFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/product/retail:
    post:
      tags:
      - Product
      summary: "Gets all retail products metadata for a given siteurl, culturename, and country."
      operationId: Product_GetRetailProducts
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/ProductFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/product/wholesale:
    post:
      tags:
      - Product
      summary: "Gets all wholesale products metadata for a given siteurl, culturename, and country."
      operationId: Product_GetWholeSaleProducts
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/ProductFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/product/configuration:
    post:
      tags:
      - Product
      summary: Use for products that have 'flavors' to an individual item
      operationId: Product_GetProductConfiguration
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/ProductConfigurationFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/product/nv/shade-request:
    post:
      tags:
      - Product
      summary: Submits a shade form request via email.
      operationId: Product_SubmitNvShadeRequest
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/ShadeRequestModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/quiz:
    get:
      tags:
      - Quiz
      summary: Returns the quiz questions and answers
      operationId: Quiz_GetQuiz
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: countryCode
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/QuizModel"
    post:
      tags:
      - Quiz
      summary: Returns the product based on the quiz answers
      operationId: Quiz_GetProductByQuizAnswers
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: quizAnswer
        description: Answer IDs
        required: true
        schema:
          $ref: "#/definitions/QuizAnswerFormModel"
      - name: countryCode
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FullProductViewModel"
  /api/v1/rewards/refer-a-friend/status:
    get:
      tags:
      - ReferAFriend
      summary: Gets the customer status for referrals.
      operationId: ReferAFriend_GetStatus
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/CustomerReferralStatusModel"
  /api/v1/rewards/refer-a-friend/settings:
    get:
      tags:
      - ReferAFriend
      summary: Gets the refer a friend config.
      operationId: ReferAFriend_GetSettings
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CustomerReferralSettingsSimpleModel"
  /api/v1/rewards/refer-a-friend:
    get:
      tags:
      - ReferAFriend
      summary: Gets the list of referrals for a preferred customer.
      operationId: ReferAFriend_GetReferralsAsync
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: customerMainPk
        in: query
        required: false
        type: string
      - name: referralId
        in: query
        required: false
        type: string
      - name: referralEmail
        in: query
        required: false
        type: string
      - name: referralFirstName
        in: query
        required: false
        type: string
      - name: referralLastName
        in: query
        required: false
        type: string
      - name: referralStatus
        in: query
        required: false
        type: string
      - name: referralBeforeDate
        in: query
        required: false
        type: string
        format: date-time
      - name: referralAfterDate
        in: query
        required: false
        type: string
        format: date-time
      - name: earnedPointsBeforeDate
        in: query
        required: false
        type: string
        format: date-time
      - name: earnedPointsAfterDate
        in: query
        required: false
        type: string
        format: date-time
      - name: offset
        in: query
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
      - name: orderBy
        in: query
        required: false
        type: string
      - name: skipCount
        in: query
        required: false
        type: boolean
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CustomerReferralViewModel"
  /api/v1/rewards/refer-a-friend/{mainPk}:
    post:
      tags:
      - ReferAFriend
      summary: Save a list of referrals for a preferred customer.
      operationId: ReferAFriend_CreateReferrals
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainPk
        in: path
        required: true
        type: integer
        format: int32
      - in: body
        name: referrals
        required: true
        schema:
          $ref: "#/definitions/CustomerReferralFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/CustomerReferralReturnModel"
  /api/v1/shipping/methods/{mainOrdersFK}/{countryCode}:
    get:
      tags:
      - Shipping
      summary: "Grabs a list of shipping methods for a given order.\r\n{mainOrdersFK}{countryCode}"
      operationId: Shipping_GetShippingMethods
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFK
        in: path
        required: true
        type: integer
        format: int32
      - name: countryCode
        in: path
        required: true
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/shipping/chart-settings/{mainOrdersFk}/{shippingChartTypeFk}:
    get:
      tags:
      - Shipping
      summary: Returns shipping methods for an order
      operationId: Shipping_GetShippingSettings
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: mainOrdersFk
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      - name: shippingChartTypeFk
        in: path
        description: ""
        required: true
        type: integer
        format: int32
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/shipping/address/validate:
    post:
      tags:
      - Shipping
      summary: Calls the google address validation and returns a status and collection of similar addresses
      operationId: Shipping_IsAddressValid
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: address
        required: true
        schema:
          $ref: "#/definitions/AddressModel"
      deprecated: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AddressValidationModel"
  /api/v1/shopping/{id}:
    get:
      tags:
      - Shopping
      summary: Gets a cart object by the cart key value.
      operationId: Shopping_GetCart
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Unique identifier of the cart.
        required: true
        type: string
        format: uuid
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CartViewModel"
    put:
      tags:
      - Shopping
      summary: Updates a cart object info.
      operationId: Shopping_Update
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Unique identifier of the cart
        required: true
        type: string
        format: uuid
      - in: body
        name: model
        description: CartFormModel object
        required: true
        schema:
          $ref: "#/definitions/CartFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CartFormModel"
    delete:
      tags:
      - Shopping
      summary: Deletes a cart object.
      operationId: Shopping_RemoveCart
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Unique identifier of the cart
        required: true
        type: string
        format: uuid
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
    patch:
      tags:
      - Shopping
      summary: Used for partial updates on a cart object item.
      operationId: Shopping_Patch
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Unique identifier of the cart
        required: true
        type: string
        format: uuid
      - in: body
        name: model
        description: CartFormModel object
        required: true
        schema:
          $ref: "#/definitions/CartPatchModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CartViewModel"
  /api/v1/shopping/{id}/rank:
    get:
      tags:
      - Shopping
      summary: "Get Rank, calculated by items in cart, that user will achieve on purchase"
      operationId: Shopping_GetRank
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Unique identifier of the cart.
        required: true
        type: string
        format: uuid
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GetRankResponseModel"
  /api/v1/shopping/{cartKey}/estimated-taxes:
    get:
      tags:
      - Shopping
      summary: Returns the estimate tax for the cart.
      operationId: Shopping_GetCalculatedTaxes
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
        in: path
        description: Unique identifier of the cart.
        required: true
        type: string
        format: uuid
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TaxModel"
  /api/v1/shopping/{cartKey}/shipping-options:
    get:
      tags:
      - Shopping
      summary: Returns shipping options and pricing available for the cart.
      operationId: Shopping_GetShippingOptions
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
        in: path
        description: Unique identifier of the cart.
        required: true
        type: string
        format: uuid
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ShippingMethodsViewModel"
  /api/v1/shopping/campaigns:
    get:
      tags:
      - Shopping
      summary: List campaigns
      operationId: Shopping_GetCampaigns
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: culture
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/CampaignResponseModel"
  /api/v1/shopping/{cartKey}/validate:
    get:
      tags:
      - Shopping
      summary: Call to validate cart information
      operationId: Shopping_ValidateCart
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
        in: path
        required: true
        type: string
        format: uuid
      - name: orderNumber
        in: query
        required: false
        type: string
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ValidateCartViewModel"
  /api/v1/shopping/get-checkout-messages:
    get:
      tags:
      - Shopping
      summary: Returns a list of checkout messages/warnings for checkout
      operationId: Shopping_GetCheckoutMessage
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: countryCode
        in: query
        required: false
        type: string
      - name: languageFK
        in: query
        required: false
        type: integer
        format: int32
      - name: cartKey
        in: query
        required: false
        type: string
        format: uuid
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/CheckoutMessageViewModel"
  /api/v1/shopping/apply-discount:
    put:
      tags:
      - Shopping
      summary: Applies either a SalesCampign promo to a cart or MainDiscountConfig to an order.
      operationId: Shopping_ApplyDiscount
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces: []
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/CartDiscountFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
        "404":
          description: NOT FOUND
  /api/v1/shopping/{cartKey}/set-shipping:
    put:
      tags:
      - Shopping
      summary: Sets the shipping info on the cart selected by the user.
      operationId: Shopping_SetShipping
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
        in: path
        description: Unique identifier of the cart.
        required: true
        type: string
        format: uuid
      - in: body
        name: model
        description: Model info for the shipping chosen by the user.
        required: true
        schema:
          $ref: "#/definitions/CartSetShippingFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: object
  /api/v1/shopping:
    post:
      tags:
      - Shopping
      summary: Creates a new shopping cart object.
      operationId: Shopping_Create
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        description: CartFormModel object
        required: true
        schema:
          $ref: "#/definitions/CartFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CartFormModel"
  /api/v1/shopping/campaigns/qualified:
    post:
      tags:
      - Shopping
      summary: Checks to see if the shopping cart has qualified for any sales campaigns
      operationId: Shopping_GetQualifiedSalesCampaignInfo
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: "#/definitions/GetQualifiedSalesCampaignRequestModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GetQualifiedSalesCampaignViewModel"
  /api/v1/shopping/{cartKey}/create-order:
    post:
      tags:
      - Shopping
      summary: Used to create a ready to process order record from the main cart information.
      operationId: Shopping_CreateMainOrder
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
        in: path
        description: ""
        required: true
        type: string
        format: uuid
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            type: integer
            format: int32
  /api/v1/shopping/{id}/clear-referrer:
    delete:
      tags:
      - Shopping
      summary: Clears out the set referrer information on the cart. ** Use patch call going forward **
      operationId: Shopping_ClearReferrer
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Unique identifier of the cart
        required: true
        type: string
        format: uuid
      deprecated: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CartViewModel"
  /api/v1/shopping/{cartKey}/address/billing:
    post:
      tags:
      - ShoppingAddress
      summary: Adds a billing address record to the shopping cart
      operationId: ShoppingAddress_AddBillingAddress
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
        in: path
        description: ""
        required: true
        type: string
        format: uuid
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CartAddressFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CartAddressViewModel"
    put:
      tags:
      - ShoppingAddress
      summary: Updates a billing address record on the shopping cart
      operationId: ShoppingAddress_UpdateBillingAddress
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
        in: path
        description: ""
        required: true
        type: string
        format: uuid
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CartAddressFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CartAddressViewModel"
    delete:
      tags:
      - ShoppingAddress
      summary: Removes a billing address record on the shopping cart
      operationId: ShoppingAddress_RemoveBillingAddress
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
        in: path
        description: ""
        required: true
        type: string
        format: uuid
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CartAddressViewModel"
    patch:
      tags:
      - ShoppingAddress
      summary: Patches a billing address record on the shopping cart
      operationId: ShoppingAddress_PatchBillingAddress
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
        in: path
        description: ""
        required: true
        type: string
        format: uuid
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CartAddressViewModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CartAddressViewModel"
  /api/v1/shopping/{cartKey}/address/mailing:
    post:
      tags:
      - ShoppingAddress
      summary: Adds a mailing address record to the shopping cart
      operationId: ShoppingAddress_AddMailingAddress
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
        in: path
        description: ""
        required: true
        type: string
        format: uuid
      - in: body
        name: model
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CartAddressFormModel"
      deprecated: false
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CartAddressViewModel"
    put:
      tags:
      - ShoppingAddress
      summary: Updates a mailing address record on the shopping cart
      operationId: ShoppingAddress_UpdateMailingAddress
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      parameters:
      - name: cartKey
[...]
