{
  "swagger": "2.0",
  "info": {
    "description": "A Microsoft WebApi2 application. For use by Jeunesse and its Partners, this api has a focus on product and order creation",
    "version": "v2",
    "title": "Cart-Api v2"
  },
  "host": "cart-api.riman.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v2/order/taxes/{mainOrdersFk}": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Gets the tax information for an order.",
        "operationId": "Order_GetOrderTaxAmountString",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "mainOrdersFk",
            "in": "path",
            "description": "OrderNumber",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaxModel"
            }
          }
        }
      }
    },
    "/api/v2/order/validate-retail-signup": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Use to check if a retail customer has purchased an upgrade to distributor package and can continue to signup.",
        "operationId": "Order_ValidateRetailSignup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "mainFK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckRetailUpgrageViewModel"
            }
          }
        }
      }
    },
    "/api/v2/orders/{MainOrdersPK}/details": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieves detailed information for a specific order by its primary key.",
        "operationId": "Order_GetOrderDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "mainOrdersPK",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "model.mainOrdersPK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.email",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "model.culture",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v2/order/type": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieves the order type and whether it is an event based on the provided query model.",
        "operationId": "Order_GetOrderType",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model.mainOrdersPK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.email",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "model.culture",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v2/order/set-shipping": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Sets the shipping info on an order.",
        "operationId": "Order_SetShippingOnOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "model",
            "description": "SetShippingFormModel model object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetShippingFormModel"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v2/order/shipping/address/{mainOrdersFK}": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Updates the shipping address on an order record.",
        "operationId": "Order_UpdateOrderShippingAddress",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "mainOrdersFK",
            "in": "path",
            "description": "Main Order PK",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "model",
            "description": "UpdateOrderShipAddressFormModel model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateOrderShipAddressFormModel"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v2/order/set-shipping-autoship/{mainOrdersPK}": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Sets the shipping info on an autoship order.",
        "operationId": "Order_SetShippingOnAutoShipOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "mainOrdersPK",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v2/order/items/add-from-cart/{mainOrdersFk}/{cartKey}": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Used to move the items in the user's cart to an order.",
        "operationId": "Order_UpdateOrderItemsFromCart",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "mainOrdersFk",
            "in": "path",
            "description": "Main Orders PK",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cartKey",
            "in": "path",
            "description": "MainCart Unique Identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v2/order": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Create a new order with basic information",
        "operationId": "Order_CreateOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "model",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewOrderFormModel"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateOrderViewModel"
            }
          }
        }
      }
    },
    "/api/v2/order/product": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Adds a product to an order.",
        "operationId": "Order_AddProduct",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "model",
            "description": "AddProductFormModelv2 model object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddProductFormModelv2"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v2/order/payment/creditcard": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Adds the Credit Card payment information to an order in process",
        "operationId": "Order_AddCCPaymentToOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddCCPaymentAndBillingFormModel"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v2/order/apply-iterative-discount": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Used to auto apply main discount config discount if applicable",
        "operationId": "Order_ApplyInterativeDiscount",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplyIterativeDiscountFormModel"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v2/products/brands": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Extract all product brands",
        "operationId": "Product_GetProductBrands",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductBrand"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/invalidate-cache": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Invalidates the local cache",
        "operationId": "Product_InvalidateCache",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v2/products/categories/{categoryId}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get specific category information",
        "operationId": "Product_GetCategoryById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "Product Category PK",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CategoryModel"
            }
          }
        }
      }
    },
    "/api/v2/products/cap-headers/{country}/{langId}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Returns a headers for CAP with CV ranges",
        "operationId": "Product_GetCAPHeadersWithCVRanges",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "description": "Country",
            "required": true,
            "type": "string"
          },
          {
            "name": "langId",
            "in": "path",
            "description": "LangId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CAPHeaderModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/{productFk}/{cartType}/{culture}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get specific product information",
        "operationId": "Product_GetProductById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "productFk",
            "in": "path",
            "description": "Product PK",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cartType",
            "in": "path",
            "description": "Cart Type",
            "required": true,
            "type": "string",
            "default": "R"
          },
          {
            "name": "culture",
            "in": "path",
            "description": "Culture",
            "required": true,
            "type": "string",
            "default": "en-US"
          }
        ],
        "deprecated": true,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FullProductViewModel"
            }
          }
        }
      }
    },
    "/api/v2/products/remaining-products": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get remaining product quantities",
        "operationId": "Product_GetRemainingProductQuantities",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model.productIds",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "model.mainPK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RemainingProductQuantitiesModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/remaining-signup-products": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get remaining sign up product quantities",
        "operationId": "Product_GetRemainingSignUpProductQuantities",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model.productIds",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "model.mainPK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RemainingProductQuantitiesModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/functions": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Returns a list of functions/purposes for available products",
        "operationId": "Product_GetProductFunctions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "culture",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BrandViewModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/categories": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get a listing of all available categories",
        "operationId": "Product_GetCategories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "culture",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CategoryModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/all-rituals": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Returns a list of ritual products.",
        "operationId": "Product_GetRituals",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model.cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "model.countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "model.culture",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FullProductViewModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/sub-categories": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get a listing of all available sub categories",
        "operationId": "Product_GetSubCategories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "culture",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SubMenuBlockModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/search": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Search products by keyword",
        "operationId": "Product_SearchProduct",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "culture",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductSearchViewModel"
            }
          }
        }
      }
    },
    "/api/v2/products/ritual": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Returns a list of ritual products",
        "operationId": "Product_GetRitualProducts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "suggestProductQuery.cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "suggestProductQuery.countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "suggestProductQuery.languagePK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "suggestProductQuery.productPK",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SuggestProductModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/may-love": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Returns a list of may love products",
        "operationId": "Product_GetMayLoveProducts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "suggestProductQuery.cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "suggestProductQuery.countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "suggestProductQuery.languagePK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "suggestProductQuery.productPK",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SuggestProductModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/bestseller": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Returns a list of best selling products.",
        "operationId": "Product_GetBestsellers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model.cartKey",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model.productsToShow",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "BestSellers",
              "Spotlights"
            ]
          },
          {
            "name": "model.limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "model.countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "model.culture",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FullProductViewModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/best-sellers": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Returns a list of top 5 best selling products.",
        "operationId": "Product_GetBestSellers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cartKey",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "productsToShow",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "BestSellers",
              "Spotlights"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "culture",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": true,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BestSellersViewModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/brand/best-sellers": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Gets a list of products that have been selected to spotlight",
        "operationId": "Product_GetBrandSpotlight",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cartKey",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "productsToShow",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "BestSellers",
              "Spotlights"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "culture",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BrandViewModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/products/detail": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get specific product information",
        "operationId": "Product_GetProductById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "productPK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "culture",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mainFK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "repSiteUrl",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "languageId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FullProductViewModel"
            }
          }
        }
      }
    },
    "/api/v2/products": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get full listing of all products",
        "operationId": "Product_GetProducts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cartType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "repSiteUrl",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mainOrderTypeFk",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mainTypeFk",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "otherCategoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "culture",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "brandId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "menuId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "functionId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "lineId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "take",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "includePromos",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isRedemption",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mainPK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "productPK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "priceListPK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isASEligible",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isPPASEligible",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isAdminEligible",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isSignupEligible",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isSignupPackage",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isStarterKit",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isCreateAPack",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isImportEligible",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isPayCard",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isCart",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "currencyCode",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FullProductViewModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/shipping/shipping/options": {
      "get": {
        "tags": [
          "Shipping"
        ],
        "summary": "Returns a list of shipping options available.",
        "operationId": "Shipping_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cartKey",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "address1",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "address2",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "address3",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mainPk",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isPOBox",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mainOrderPK",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isSDProfile",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isAdmin",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isEvent",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "apiKey": {
      "description": "API Key Authentication",
      "type": "apiKey",
      "name": "authToken",
      "in": "header"
    }
  },
  "definitions": {
    "TaxModel": {
      "type": "object",
      "properties": {
        "rate": {
          "type": "number",
          "format": "double"
        },
        "displayRate": {
          "type": "string"
        },
        "rawRate": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "CheckRetailUpgradeFormModel": {
      "type": "object",
      "properties": {
        "mainFK": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CheckRetailUpgrageViewModel": {
      "type": "object",
      "properties": {
        "canSignup": {
          "type": "boolean"
        },
        "signupUrl": {
          "type": "string"
        }
      }
    },
    "OrderDetailsQueryModel": {
      "type": "object",
      "properties": {
        "mainOrdersPK": {
          "type": "integer",
          "format": "int32"
        },
        "email": {
          "type": "string"
        },
        "culture": {
          "type": "string"
        }
      }
    },
    "SetShippingFormModel": {
      "type": "object",
      "properties": {
        "orderPk": {
          "type": "integer",
          "format": "int32"
        },
        "chartTypeFk": {
          "type": "integer",
          "format": "int32"
        },
        "signatureRequired": {
          "type": "boolean"
        },
        "cartKey": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "UpdateOrderShipAddressFormModel": {
      "type": "object",
      "required": [
        "address1",
        "city",
        "country",
        "firstName",
        "lastName",
        "state"
      ],
      "properties": {
        "mainOrdersFK": {
          "type": "integer",
          "format": "int32"
        },
        "firstName": {
          "type": "string",
          "minLength": 0,
          "maxLength": 50
        },
        "lastName": {
          "type": "string",
          "minLength": 0,
          "maxLength": 50
        },
        "address1": {
          "type": "string",
          "minLength": 0,
          "maxLength": 250
        },
        "address2": {
          "type": "string",
          "minLength": 0,
          "maxLength": 250
        },
        "address3": {
          "type": "string",
          "minLength": 0,
          "maxLength": 250
        },
        "city": {
          "type": "string",
          "minLength": 0,
          "maxLength": 50
        },
        "state": {
          "type": "string",
          "minLength": 0,
          "maxLength": 50
        },
        "postalCode": {
          "type": "string",
          "minLength": 0,
          "maxLength": 50
        },
        "country": {
          "type": "string",
          "minLength": 0,
          "maxLength": 50
        },
        "area": {
          "type": "string"
        },
        "isResidential": {
          "type": "boolean"
        },
        "email": {
          "type": "string",
          "minLength": 0,
          "maxLength": 250
        },
        "phone": {
          "type": "string",
          "minLength": 0,
          "maxLength": 50
        },
        "fax": {
          "type": "string",
          "minLength": 0,
          "maxLength": 50
        },
        "verifiedShippingAddress": {
          "type": "boolean"
        }
      }
    },
    "NewOrderFormModel": {
      "type": "object",
      "required": [
        "countryCode",
        "mainId"
      ],
      "properties": {
        "mainId": {
          "type": "integer",
          "format": "int32"
        },
        "mainOrderType": {
          "type": "integer",
          "format": "int32"
        },
        "countryCode": {
          "type": "string",
          "minLength": 0,
          "maxLength": 50
        },
        "salesCampaignFK": {
          "type": "integer",
          "format": "int32"
        },
        "cartKey": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "CreateOrderViewModel": {
      "type": "object",
      "properties": {
        "mainOrdersFK": {
          "type": "integer",
          "format": "int32"
        },
        "encOrderNumber": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "AddProductFormModelv2": {
      "type": "object",
      "properties": {
        "orderPK": {
          "type": "integer",
          "format": "int32"
        },
        "priceListFK": {
          "type": "integer",
          "format": "int32"
        },
        "countryCode": {
          "type": "string"
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CartItemViewModel"
          }
        },
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigurationModel"
          }
        }
      }
    },
    "CartItemViewModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        },
        "productFk": {
          "type": "integer",
          "format": "int32"
        },
        "packageFk": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "setupForAs": {
          "type": "boolean"
        },
        "configFk": {
          "type": "integer",
          "format": "int32"
        },
        "priceListFk": {
          "type": "integer",
          "format": "int32"
        },
        "isPaCItem": {
          "type": "boolean"
        },
        "isSignup": {
          "type": "boolean"
        },
        "sku": {
          "type": "string"
        },
        "priceType": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "currencyPK": {
          "type": "integer",
          "format": "int32"
        },
        "currencyCode": {
          "type": "string"
        },
        "currencySymbol": {
          "type": "string"
        },
        "extraFee": {
          "type": "string"
        },
        "discount": {
          "type": "number",
          "format": "double"
        },
        "formattedDiscount": {
          "type": "string"
        },
        "basePrice": {
          "type": "number",
          "format": "double"
        },
        "formattedBasePrice": {
          "type": "string"
        },
        "unitPrice": {
          "type": "number",
          "format": "double"
        },
        "formattedUnitPrice": {
          "type": "string"
        },
        "retailTaxablePrice": {
          "type": "number",
          "format": "double"
        },
        "formattedRetailTaxablePrice": {
          "type": "string"
        },
        "cv": {
          "type": "number",
          "format": "double"
        },
        "sp": {
          "type": "number",
          "format": "double"
        },
        "maxLimit": {
          "type": "integer",
          "format": "int32"
        },
        "points": {
          "type": "number",
          "format": "double"
        },
        "isShippable": {
          "type": "boolean"
        },
        "isStarterKit": {
          "type": "boolean"
        },
        "brandName": {
          "type": "string"
        },
        "lineSubTotal": {
          "type": "number",
          "format": "double"
        },
        "formattedLineSubTotal": {
          "type": "string"
        },
        "lineTotal": {
          "type": "number",
          "format": "double"
        },
        "formattedLineTotal": {
          "type": "string"
        },
        "offerAffiliateProgram": {
          "type": "boolean"
        },
        "isVolumeBasedRSB": {
          "type": "boolean"
        },
        "offerPreferredCust": {
          "type": "boolean"
        },
        "offerLoyaltyProgram": {
          "type": "boolean"
        },
        "showSDCheckbox": {
          "type": "boolean"
        },
        "joinMaxLifetimeLimitCatCode": {
          "type": "string"
        },
        "joinMaxLifetimeLimit": {
          "type": "integer",
          "format": "int32"
        },
        "childItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CartItemViewModel"
          }
        }
      }
    },
    "ConfigurationModel": {
      "type": "object",
      "properties": {
        "packagePk": {
          "type": "integer",
          "format": "int32"
        },
        "productPk": {
          "type": "integer",
          "format": "int32"
        },
        "configPk": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AddCCPaymentAndBillingFormModel": {
      "type": "object",
      "required": [
        "cardFullName",
        "cvv",
        "expireMonth",
        "expireYear"
      ],
      "properties": {
        "mainOrdersFK": {
          "type": "integer",
          "format": "int32"
        },
        "mainFK": {
          "type": "integer",
          "format": "int32"
        },
        "cardFullName": {
          "type": "string"
        },
        "cardNumber": {
          "type": "string"
        },
        "cardType": {
          "type": "string"
        },
        "cvv": {
          "type": "string"
        },
        "expireMonth": {
          "type": "string"
        },
        "expireYear": {
          "type": "string"
        },
        "saveCardInfo": {
          "type": "boolean"
        },
        "installment": {
          "type": "integer",
          "format": "int32"
        },
        "fname": {
          "type": "string"
        },
        "lname": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "zip": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "address3": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "useBillingAddress": {
          "type": "boolean"
        },
        "cardToken": {
          "type": "string"
        }
      }
    },
    "ApplyIterativeDiscountFormModel": {
      "type": "object",
      "properties": {
        "mainOrdersFK": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductBrand": {
      "type": "object",
      "properties": {
        "productBrandPK": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "function": {
          "type": "string"
        },
        "seqNo": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "CategoryModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "imageKey": {
          "type": "string"
        },
        "bannerImageUrl": {
          "type": "string"
        },
        "bannerImageKey": {
          "type": "string"
        },
        "seqNo": {
          "type": "number",
          "format": "float"
        },
        "translationKey": {
          "type": "string"
        },
        "hasSubMenu": {
          "type": "boolean"
        },
        "isBranded": {
          "type": "boolean"
        },
        "showInTopMenu": {
          "type": "boolean"
        },
        "menus": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SubMenuBlockModel"
          }
        }
      }
    },
    "SubMenuBlockModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "subMenuType": {
          "type": "string",
          "enum": [
            "SubCategory",
            "Concern",
            "Line",
            "Category"
          ]
        },
        "subTitle": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "translationKey": {
          "type": "string"
        },
        "isShopAll": {
          "type": "boolean"
        },
        "seqNo": {
          "type": "number",
          "format": "float"
        },
        "childMenus": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubMenuModel"
          }
        }
      }
    },
    "SubMenuModel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "subTitle": {
          "type": "string"
        },
        "menuKey": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "imageKey": {
          "type": "string"
        },
        "bannerImage": {
          "type": "string"
        },
        "bannerImageKey": {
          "type": "string"
        },
        "translationKey": {
          "type": "string"
        },
        "seqNo": {
          "type": "number",
          "format": "float"
        },
        "action": {
          "type": "string"
        }
      }
    },
    "CAPHeaderModel": {
      "type": "object",
      "properties": {
        "productName": {
          "type": "string"
        },
        "minCV": {
          "type": "integer",
          "format": "int32"
        },
        "maxCV": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "FullProductViewModel": {
      "type": "object",
      "properties": {
        "productPK": {
          "type": "integer",
          "format": "int32"
        },
        "productCode": {
          "type": "string"
        },
        "sku": {
          "type": "string"
        },
        "productCategory": {
          "type": "string"
        },
        "brandId": {
          "type": "integer",
          "format": "int32"
        },
        "brandName": {
          "type": "string"
        },
        "productBrand": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "weight": {
          "type": "number",
          "format": "double"
        },
        "isComingSoon": {
          "type": "boolean"
        },
        "comingSoonMessage": {
          "type": "string"
        },
        "isPackage": {
          "type": "boolean"
        },
        "packageItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackComponentModel"
          }
        },
        "isConfigurable": {
          "type": "boolean"
        },
        "isProductAvailableOnAutoship": {
          "type": "boolean"
        },
        "isProductOnAutoship": {
          "type": "boolean"
        },
        "autoshipProductPk": {
          "type": "integer",
          "format": "int32"
        },
        "maxLimit": {
          "type": "integer",
          "format": "int32"
        },
        "points": {
          "type": "number",
          "format": "double"
        },
        "bv": {
          "type": "number",
          "format": "double"
        },
        "sp": {
          "type": "number",
          "format": "double"
        },
        "productMenuId": {
          "type": "integer",
          "format": "int32"
        },
        "productMenu": {
          "type": "string"
        },
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductConfigurationViewModel"
          }
        },
        "pricing": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductPricingViewModel"
          }
        },
        "description": {
          "type": "string"
        },
        "imageUrls": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductImageModel"
          }
        },
        "additionalInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductAdditionalInfoViewModel"
          }
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductDocumentViewModel"
          }
        },
        "isShippable": {
          "type": "boolean"
        },
        "isStarterKit": {
          "type": "boolean"
        },
        "seqNo": {
          "type": "integer",
          "format": "int32"
        },
        "isFoodProduct": {
          "type": "boolean"
        },
        "rankInfo": {
          "$ref": "#/definitions/GetRankResponseModel"
        },
        "isRetailPackage": {
          "type": "boolean"
        },
        "isVolumeBasedRSB": {
          "type": "boolean"
        },
        "mainType": {
          "type": "integer",
          "format": "int32"
        },
        "activeSmartDelivery": {
          "type": "boolean"
        },
        "isRedemption": {
          "type": "boolean"
        },
        "priceType": {
          "type": "string"
        },
        "doNotSplitPackBV": {
          "type": "boolean"
        },
        "sdOnlyPackage": {
          "type": "boolean"
        },
        "showSDCheckbox": {
          "type": "boolean"
        },
        "offerAffiliateProgram": {
          "type": "boolean"
        },
        "offerPreferredCust": {
          "type": "boolean"
        },
        "offerLoyaltyProgram": {
          "type": "boolean"
        },
        "offerSDOnShop": {
          "type": "boolean"
        },
        "isRetailCart": {
          "type": "boolean"
        },
        "productLineId": {
          "type": "integer",
          "format": "int32"
        },
        "productLine": {
          "type": "string"
        },
        "productFunction": {
          "type": "string"
        },
        "maxLifetimeLimitCatCode": {
          "type": "string"
        },
        "maxLifetimeLimit": {
          "type": "integer",
          "format": "int32"
        },
        "joinMaxLifetimeLimitCatCode": {
          "type": "string"
        },
        "joinMaxLifetimeLimit": {
          "type": "integer",
          "format": "int32"
        },
        "productCmsData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductCmsDataModel"
          }
        }
      }
    },
    "PackComponentModel": {
      "type": "object",
      "properties": {
        "productPK": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "imgUrl": {
          "type": "string"
        },
        "qty": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductConfigurationViewModel": {
      "type": "object",
      "properties": {
        "packageFK": {
          "type": "integer",
          "format": "int32"
        },
        "configurableProductPK": {
          "type": "integer",
          "format": "int32"
        },
        "productPK": {
          "type": "integer",
          "format": "int32"
        },
        "productCode": {
          "type": "string"
        },
        "productName": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "attribute1": {
          "type": "string"
        },
        "attribute2": {
          "type": "string"
        },
        "attribute3": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "unit": {
          "type": "integer",
          "format": "int32"
        },
        "price": {
          "type": "number",
          "format": "double"
        },
        "seqNo": {
          "type": "number",
          "format": "float"
        },
        "isComingSoon": {
          "type": "boolean"
        },
        "comingSoonMessage": {
          "type": "string"
        }
      }
    },
    "ProductPricingViewModel": {
      "type": "object",
      "properties": {
        "priceType": {
          "type": "string"
        },
        "currencySymbol": {
          "type": "string"
        },
        "price": {
          "type": "number",
          "format": "double"
        },
        "noVatPrice": {
          "type": "number",
          "format": "double"
        },
        "formattedPrice": {
          "type": "string"
        },
        "priceWarning": {
          "type": "string"
        }
      }
    },
    "ProductImageModel": {
      "type": "object",
      "properties": {
        "imageUrl": {
          "type": "string"
        },
        "imageName": {
          "type": "string"
        }
      }
    },
    "ProductAdditionalInfoViewModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "ProductDocumentViewModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "GetRankResponseModel": {
      "type": "object",
      "properties": {
        "rankId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "color": {
          "type": "string"
        },
        "monthlyBVRequirement": {
          "type": "integer",
          "format": "int32"
        },
        "isDirectorRank": {
          "type": "boolean"
        }
      }
    },
    "ProductCmsDataModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "dataTag": {
          "type": "string"
        }
      }
    },
    "RemainingProductsRequest": {
      "type": "object",
      "properties": {
        "productIds": {
          "type": "string"
        },
        "mainPK": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RemainingProductQuantitiesModel": {
      "type": "object",
      "properties": {
        "maxLifetimeLimitCatCode": {
          "type": "string"
        },
        "productPk": {
          "type": "integer",
          "format": "int32"
        },
        "remainingQTY": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CategoryQueryModel": {
      "type": "object",
      "properties": {
        "cartType": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "culture": {
          "type": "string"
        }
      }
    },
    "BrandViewModel": {
      "type": "object",
      "properties": {
        "itemPK": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "translationState": {
          "type": "string"
        },
        "translationName": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "spotlightSmallImage": {
          "type": "string"
        },
        "spotlightSmallImageKey": {
          "type": "string"
        },
        "spotlightLargeImage": {
          "type": "string"
        },
        "spotlightLargeImageKey": {
          "type": "string"
        },
        "bannerImage": {
          "type": "string"
        },
        "bannerImageKey": {
          "type": "string"
        }
      }
    },
    "BaseQueryModel": {
      "type": "object",
      "properties": {
        "cartType": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "culture": {
          "type": "string"
        }
      }
    },
    "ProductSearchQueryModel": {
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string"
        },
        "culture": {
          "type": "string"
        },
        "cartType": {
          "type": "string"
        },
        "searchTerm": {
          "type": "string"
        }
      }
    },
    "ProductSearchViewModel": {
      "type": "object",
      "properties": {
        "productFK": {
          "type": "integer",
          "format": "int32"
        },
        "productName": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        }
      }
    },
    "SuggestProductQueryModel": {
      "type": "object",
      "required": [
        "productPK"
      ],
      "properties": {
        "cartType": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "languagePK": {
          "type": "integer",
          "format": "int32"
        },
        "productPK": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SuggestProductModel": {
      "type": "object",
      "properties": {
        "productPK": {
          "type": "integer",
          "format": "int32"
        },
        "classificationFK": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        }
      }
    },
    "BestSellersQueryModel": {
      "type": "object",
      "properties": {
        "cartKey": {
          "type": "string",
          "format": "uuid"
        },
        "productsToShow": {
          "type": "string",
          "enum": [
            "All",
            "BestSellers",
            "Spotlights"
          ]
        },
        "limit": {
          "type": "integer",
          "format": "int32"
        },
        "cartType": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "culture": {
          "type": "string"
        }
      }
    },
    "BestSellersViewModel": {
      "type": "object",
      "properties": {
        "productPK": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "price": {
          "type": "string"
        },
        "altPrice": {
          "type": "string"
        },
        "productMenu": {
          "type": "string"
        },
        "spotlightSmallImageKey": {
          "type": "string"
        },
        "spotlightLargeImageKey": {
          "type": "string"
        },
        "product": {
          "$ref": "#/definitions/FullProductViewModel"
        }
      }
    },
    "ProductDetailQueryModel": {
      "type": "object",
      "properties": {
        "productPK": {
          "type": "integer",
          "format": "int32"
        },
        "countryCode": {
          "type": "string"
        },
        "culture": {
          "type": "string"
        },
        "cartType": {
          "type": "string"
        },
        "mainFK": {
          "type": "integer",
          "format": "int32"
        },
        "repSiteUrl": {
          "type": "string"
        },
        "languageId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductQueryModel": {
      "type": "object",
      "properties": {
        "cartType": {
          "type": "string"
        },
        "repSiteUrl": {
          "type": "string"
        },
        "mainOrderTypeFk": {
          "type": "integer",
          "format": "int32"
        },
        "mainTypeFk": {
          "type": "integer",
          "format": "int32"
        },
        "countryCode": {
          "type": "string"
        },
        "eventId": {
          "type": "integer",
          "format": "int32"
        },
        "categoryId": {
          "type": "integer",
          "format": "int32"
        },
        "otherCategoryId": {
          "type": "integer",
          "format": "int32"
        },
        "culture": {
          "type": "string"
        },
        "brandId": {
          "type": "integer",
          "format": "int32"
        },
        "menuId": {
          "type": "integer",
          "format": "int32"
        },
        "functionId": {
          "type": "integer",
          "format": "int32"
        },
        "lineId": {
          "type": "integer",
          "format": "int32"
        },
        "take": {
          "type": "integer",
          "format": "int32"
        },
        "skip": {
          "type": "integer",
          "format": "int32"
        },
        "searchTerm": {
          "type": "string"
        },
        "includePromos": {
          "type": "boolean"
        },
        "isRedemption": {
          "type": "boolean"
        },
        "mainPK": {
          "type": "integer",
          "format": "int32"
        },
        "productPK": {
          "type": "integer",
          "format": "int32"
        },
        "sku": {
          "type": "string"
        },
        "priceListPK": {
          "type": "integer",
          "format": "int32"
        },
        "isASEligible": {
          "type": "boolean"
        },
        "isPPASEligible": {
          "type": "boolean"
        },
        "isAdminEligible": {
          "type": "boolean"
        },
        "isSignupEligible": {
          "type": "boolean"
        },
        "isSignupPackage": {
          "type": "boolean"
        },
        "isStarterKit": {
          "type": "boolean"
        },
        "isCreateAPack": {
          "type": "boolean"
        },
        "isImportEligible": {
          "type": "boolean"
        },
        "isPayCard": {
          "type": "boolean"
        },
        "isCart": {
          "type": "boolean"
        },
        "currencyCode": {
          "type": "string"
        }
      }
    },
    "ShippingQueryModel": {
      "type": "object",
      "properties": {
        "cartKey": {
          "type": "string",
          "format": "uuid"
        },
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "address3": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "zip": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "mainPk": {
          "type": "integer",
          "format": "int32"
        },
        "isPOBox": {
          "type": "boolean"
        },
        "mainOrderPK": {
          "type": "integer",
          "format": "int32"
        },
        "isSDProfile": {
          "type": "boolean"
        },
        "isAdmin": {
          "type": "boolean"
        },
        "isEvent": {
          "type": "boolean"
        }
      }
    }
  }
}